:root{
    --smoky-black: #14110F;
    --spring-green: #04F06A;
    --atomic-tangerine: #F79F79;
    --medium-slate-blue: #8A4FFF;
    --electric-blue: #65DEF1;
    --sky-blue : #3c80f0;
}
html,body{
    padding: 0;
    margin: 0;
    
}
*{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.full-background{
    width: 100%;
    min-height: 100vh;
    background-color: #fff4f0;
}
.content-container{
    width: 3000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: var(--smoky-black);
    
}

#title{
    padding: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 180px;
}
#social-links{
    display: flex;
    justify-content: center;
}
.link{
    width: 350px;
    margin: 30px 90px;
}
.icon{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 160px;
}
.github.icon{
    color: #222222;
}
.linkedin.icon{
    color: #0072b1;
}

@media (max-width: 4000px) {
    .content-container{
        width: 2400px;
    
    }
    #title{
        padding: 45px;
        font-size: 148px;
    }
    .link{
        width: 250px;
        margin: 25px 75px;
    }
    .icon{
        font-size: 130px;
    }
}
@media (max-width: 3500px) {
  
    .content-container{
        width: 2200px;
    
    }
    
    #title{
        padding: 40px;
        font-size: 120px;
    }
    .link{
        width: 220px;
        margin: 22px 65px;
    }
    .icon{
        font-size: 115px;
    }
}
@media (max-width: 3000px) {
   
    .content-container{
        width: 1900px;
    
    }
    #title{
        padding: 30px;
        font-size: 100px;
    }
    .link{
        width: 190px;
        margin: 20px 60px;
    }
    .icon{
        font-size: 95px;
    }
}
@media (max-width: 2600px) {
   
    .content-container{
        width: 1650px;
    
    }
    #title{
        padding: 25px;
        font-size: 85px;
    }
    .link{
        width: 170px;
        margin: 15px 50px;
    }
    .icon{
        font-size: 80px;
    }
}
@media (max-width: 2200px) {
   
    .content-container{
        width: 1400px;
    }
    #title{
        padding: 25px;
        font-size: 65px;
    }
    .link{
        width: 140px;
        margin: 15px 45px;
    }
    .icon{
        font-size: 60px;
    }
}

@media (max-width: 1900px) {
   
    .content-container{
        width: 1300px;
    }
    #title{
        padding: 20px;
        font-size: 55px;
    }
    .link{
        width: 120px;
        margin: 12px 35px;
    }
    .icon{
        font-size: 50px;
    }
}
@media (max-width: 1600px) {
   
    .content-container{
        width: 1000px;
    }
 
    #title{
        padding: 20px;
        font-size: 48px;
    }
    .link{
        width: 100px;
        margin: 10px 30px;
    }
    .icon{
        font-size: 50px;
    }
}
@media (max-width: 1400px) {
    .content-container{
        width: 800px;
    }
}
@media (max-width: 1200px) {
    
    .content-container{
        width: 750px;
    }
  
}
@media (max-width: 1000px) {
    
    .content-container{
        width: 700px;
    }
    .link{
        margin: 10px 25px;
    }
    .icon{
        font-size: 45px;
    }
}

@media (max-width: 850px) {
   
    .content-container{
        width: 655px;
    }
    .link{
        width: 90px;
        margin: 5px 20px;
    }
    .icon{
        font-size:42px;
    }
}
@media (max-width: 700px) {
    
    .content-container{
        width: 500px;
    }
}
@media (max-width: 550px) {
    
    .content-container{
        width: 380px;
    }
    .link{
        width: 85px;
        margin: 5px 20px;
    }
    .icon{
        font-size: 38px;
    }
}
@media (max-width: 400px) {
    .content-container{
        width: 300px;
    }
    .link{
        width: 80px;
        margin: 5px 20px;
    }
    .icon{
        font-size: 35px;
    }
}

#outdated{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.outdated-body{
    width: 50%;
    height: 50%;
    background-color: #fff4f0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.outdated-text{
    font-size: 2em;
    text-align: center;
    padding: 1.5em;
}
.outdated-close{
    width:40%;
    box-sizing: border-box;
    background-color: var(--smoky-black);
    font-size: 2.5em;
    line-height: 1.5;
    color: white;
    padding: 0.9em 2.1em;
    border-radius: 0.5em;
    cursor: pointer;
}