

:root{
    --clr-light_grey : #fefbe9;
    --clr-dark : #151515;
    --clr-green: #183a1d;
    --clr-teal : #e1eedd;
    --clr-grey: #7e2738d0;
    --clr-dark_blue: #1d1039;
    --clr-orange: #f0a04b;
    --fs-h1: 2.25rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-h4: 1rem;
    --fs-p: 0.8rem;
}

@media (min-width: 800px) {
    :root{
        --fs-h1: 2.4rem;
        --fs-h2: 1.8rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.25rem;
        --fs-p: 0.95rem;
    }
}

h3, h4, p{
    font-weight: normal;
}
body{
    background-color: var(--clr-light_grey);
    font-size: var(--fs-p);
}

img{
    display: block;
}

h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}
h4{
    font-size: var(--fs-h4);
}
.horizontal_conatiner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.horizontal_component
{
    flex-basis: auto;
}
.main_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_component{
    flex-basis: 45%;
    margin-left: 5vw;
    margin-right: 0;
}
.main_view{
    position : fixed;
    top: 10vh;
    bottom : 10vh;
    left: 10vw;
    right: 65vw;
    max-width: 40vw;
    align-items: center;
    background-color: var(--clr-light_grey);
    color: #151515;
}
.icon{
    font-size:5vh ;

}
.toggler{
    
    position: relative;
}
#toggle_about{
    position: fixed;
    top: 5vh;
   
}
#toggle_work{
    position: fixed;
    top :35vh;
  
    
}
#toggle_skills
{
    position: fixed;
    bottom: 5vh;
   
}
.toggle_button{
    height: 28vh;
    transition: 0.7s;
    left: 40vw;
    width: 6vw;
    background-color: var(--clr-green);
    border: 0;
}
.toggle_button:hover .toggle_text{
    font-size: calc(1.2 * var(--fs-h2));
}
.toggle_text{
    font-size: var(--fs-h2);
    writing-mode: vertical-rl;
    font-family: sans-serif;
    font-stretch: extra-expanded;
    writing-mode: vertical-rl; /* Set the writing mode to vertical, right-to-left */
    text-orientation: mixed; /* Set the text orientation to upright */
    color: var(--clr-light_grey);
    transition: font-size 0.8s;
}
.empty{
    height: 7.5vh;
    background-color: var(--clr-light_grey);
    
}
.empty1{
    top:0;
}
.empty2{
    bottom:0;
}
.overview{
    position: relative;
    right: 5vh;
    background-color: var(--clr-light_grey);
    color: #262527;
    max-width: 60vw;
}
.introduction{
    position: inherit;
}
.description{
    margin-top: 7vh;
    margin-bottom: 7vh;
}
.social_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects{
    background-color: var(--clr-light_grey);
    color:#ffffff;
    
    width:100%
}
.project{
    margin: 1vh;
    background-size: cover;
    flex-basis: 45%;
    height : 70vh;
    width : 30vw;
    text-align: center;
    display: grid; 
    place-items: center;
}


.project_img{
    max-width: 30vw;
    height: auto;
    display: block;
    margin-top: 10px;
}
.dynamic_contents{
   position: relative;
}
.heading{
    text-align: center;
    color: var(--clr-orange);
}
.description{
    color: var(--clr-green);
}
#fitness_tracker{
    background-image: url("images/fitness_img.png");
    background-repeat: no-repeat;
    color: #05f140;
}
#UTTT{
    background-image: url("images/UTTT.png");
    background-repeat: no-repeat;
}
#image_compressor{
    background-image: url("images/image_compressor.png");
    background-repeat: no-repeat;
}
#my_picture{
    max-width: 45vh;
    height: auto;
    margin-left: 3vh;
    margin-right: 3vh;
}
#toggle_display{
    right: 10vw;
}
#right_view{
    background-color: var(--clr-light_grey);
}
.a{
    text-decoration:none; 
}
