@import url('base.css');
#resume-section{
    display: flex;
    flex-direction: column;
}
#resume-section.invisible{
    display: none;
}
.resume-text{
    margin: 10px 0px;
    font-size: 36px;
    width: 400px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.resume-link{
    font-size: 30px;
    margin: 10px 0px;;
    color: #202a44;
    text-align: center;
    position: relative;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);

}
.resume-link:hover{
    text-decoration: underline;
}
.education-section{
    padding: 0px;
}
.education-header{
    font-size: 36px;
    margin: 10px 0px;
}
.university-section{
    font-size: 24px;
    padding: 10px 20px;
}
.IBM-certificate-section{
    font-size: 24px;
    padding: 10px 20px;
}
.skill-section{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.skill-header{
    font-size: 36px;   
    color: var(--smoky-black);
    margin: 30px 0px;
}
.skill-subsection{
    margin: 10px 0px;
}
.skill-type{
    font-size: 24px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #202a44;
}
.skill-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.skill{
    text-align: center;
    display: block;
    padding: 16px;
    margin: 5px 10px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 30px;
    color: var(--smoky-black);
    box-sizing: border-box;
    line-height: 2;
}
.skill::after{
    display: block;
    font-size: 16px;
    padding: 0px 10px;
    color: --var(--smoky-black);
    position: relative;
}
.skill.beginner::after{
    content: 'Beginner';
}
.skill.intermediate::after{
    content: 'Intermediate';
}
.skill.advanced::after{
    content: 'Advanced';

}
.skill.expert::after{
    content: 'Expert';
}
.tech-logo{
    width: 100px;
}
@media (max-width: 1600px) {
    .skill-grid{
        padding: 10px 15px;
    }
    
}
@media (max-width: 1400px) {
    .skill-grid{
        padding: 10px 12px;
    }
}
@media (max-width: 1200px) {
    .skill-grid{
        padding: 10px 10px;
    }
    .skill{
        padding: 11px;
        font-size: 19px;
    }
}
@media (max-width: 1000px) {
    .skill-grid{
        padding: 10px 8px;
    }
}
@media (max-width: 850px) {
    .skill-grid{
        padding: 10px 5px;
    }
    .skill{
        padding: 10px;
        font-size: 18px;
    }
}
@media (max-width: 700px) {
    .skill-grid{
        padding: 10px 0px;
    }
}
@media (max-width: 550px) {
    .skill-grid{
        padding: 10px 0px;
    }
}
@media (max-width: 400px) {
    .skill-grid{
        padding: 10px 0px;
    }
}
